@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	background-color: #fafbfe
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

ul, p
	margin-bottom: 0


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.form-group
	label
		font-family: 'inter-semibold'
		font-size: 14px
		color: #7f8fa4
		margin-bottom: 0.2rem

.form-group .form-link
	font-family: 'inter-medium'
	color: #0cba8e
	font-size: 14px

.btn
	font-family: 'inter-medium'
	font-size: 14px
	color: #fff
	padding: 8px 23px
	border-radius: 4px

.btn.btn-success
	box-shadow: inset 0 -2px 0 0 #0cba8e

.btn.btn-secondary
	color: #7f8fa4
	border: none


.page-header
	background-color: #fff
	padding: 40px 0
	box-shadow: 0 1px 4px 0 rgba(29, 31, 38, 0.1)
	&.with-tabs
		padding-bottom: 0


.page-title
	font-family: 'inter-bold'
	font-size: 24px
	display: inline-block

.page-header
	.nav-tabs
		border-bottom: none
		margin-top: 20px
		.nav-link
			// border-bottom: 2px solid #fff
			text-decoration: none
			font-family: 'inter-semibold'
			font-size: 14px
			color: #51596d
			border: none
			&:hover
				border: none
				border-bottom: 2px solid $success
			&.active
				color: #1d1f26
				border: none
				border-bottom: 2px solid $success
	.balance
		position: relative
		margin-top: -15px
		.balance-amount
			display: inline-block
			margin-right: 35px
			.balance-amount-label
				position: relative
				top: 7px
				display: block
				font-size: 14px
				font-family: 'inter-medium'
				color: #7f8fa4
			.balance-amount-value
				font-family: 'inter-semibold'
				font-size: 24px
				color: #0cba8e
		.form-control
			position: relative
			bottom: 7px
			display: inline-block
			width: 150px
			color: #1d1f26
			padding: 6px 11px
			font-size: 16px
			border-radius: 4px
  			border: solid 1px #dfe3e9
		a
			position: relative
			bottom: 7px
		.radio-input
			display: none
		.radio-label
			position: relative
			border-left: 1px solid #dfe3e9
			border-right: 1px solid #dfe3e9
			width: 33px
			height: 36px
			&.active
				background: #eff1f4

.page-body
	padding-top: 30px

.box
	background-color: #fff
	padding: 33px 0
	border-radius: 6px
	box-shadow: 0 2px 4px 0 rgba(127, 143, 164, 0.15)
	&.box-fluid
		.box-body
			padding: 0
	.box-body
		margin-top: 20px
		padding: 0 23px
	h3
		margin: 0 24px
		font-family: 'inter-bold'
		font-size: 18px
	.table
		border: none
		thead
			font-family: 'inter-semibold'
			color: #7f8fa4
			font-size: 14px
		th
			border-top: none
			border-bottom: 1px solid #dfe2e5
		td
			font-family: 'inter-regular'
			color: #1d1f26
			font-size: 14px
			border-top: 1px solid #dfe2e5

.pil
	text-transform: uppercase
	font-size: 11px
	font-family: 'inter-medium'
	border-radius: 11px
	padding: 4px 6px
	&.pil-success
		color: #0cba8e
		background-color: rgba(12, 186, 142, 0.1)
	&.pil-danger
		color: #e91d1d
		background-color: rgba(233, 29, 29, 0.1)



.top-bar
	padding: 0 38px
	background-image: linear-gradient(271deg, #002740, #013f5e, #013f5e)
	.bar-logo
		display: inline-block
		font-family: 'futura-bold'
		font-size: 15px
		color: $success
		margin-right: 20px
	.bar-menu
		display: inline-block
		font-family: 'inter-semibold'
		list-style-type: none
		padding: 0
		li
			display: inline-block
			padding: 25px 20px
			cursor: pointer
			&:hover
				background: rgba(29, 233, 182, 0.1)
				a
					opacity: 1
					color: $success
				.svg-file-fill-stroke
					fill: $success
					stroke: $success
				.svg-file
					fill: $success
				.svg-file-stroke
					stroke: $success
			a
				margin-left: 5px
				color: #fff
				opacity: .58
				font-size: 13px
				&:hover
					text-decoration: none
			svg
				margin-right: 7px
	.bar-balance
		display: inline-block
		p
			display: inline-block
			font-family: 'inter-semibold'
			color: #fff
			font-size: 13px
			padding: 25px 0
			&.bonus
				color: $success
	.bar-profile
		display: inline-block
		padding: 22px 0
		margin-left: 30px
		img
			height: 32px
			width: 32px
			border-radius: 1em
			margin-right: 15px
		p
			display: inline-block
			font-family: 'inter-semibold'
			color: #fff
			font-size: 14px

.left-side
	width: 35%
	background: #fff
	height: 100vh
	.form-box
		width: 100%
		margin-top: 30%
		display: inline-block
		padding: 0 20%
		h2
			font-family: 'inter-bold'
			font-size: 26px
			color: #1d1f26
			margin-bottom: 20px
		button
			margin-top: 40px
			margin-bottom: 10px
		.bottom
			width: 100%
			text-align: center
			.bottom-text
				margin-top: 10px
				font-family: 'inter-regular'
				font-size: 14px
				color: #1d1f26
				a
					color: #0cba8e


@import "media" // Always at the end
